{% extends "base.html" %}

{% block content %}
<div class="container mb-5">
    <h1 class="mb-4">Аккаунт</h1>

    <div class="mb-5">
        <h4>{{ user.name }}</h4>
        <p class="text-muted">Email: {{ user.email }}</p>
    </div>

    <h3 class="mb-3">Избранное</h3>
    {% if soundtracks %}
    <div class="container mb-5">

        <h4 class="mb-3">Саундтреки</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for soundtrack in soundtracks %}
                <div class="col">
                    <div class="card soundtrack-card position-relative">
                        <img src="{{ soundtrack.cover_url }}" class="card-img-top" alt="{{ soundtrack.title }}">

                        <div class="card-body">
                            <h5 class="card-title">{{ soundtrack.title }}</h5>
                            {% if soundtrack.artist %}
                            <p class="card-text text-muted small">{{ soundtrack.artist }}</p>
                            {% endif %}
                        </div>

                        <div class="play-overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-row justify-content-center align-items-center gap-3">
                            <button class="btn btn-success rounded-circle shadow play-btn" data-audio-id="audio-{{ soundtrack.id }}" title="Воспроизвести">
                                <i class="bi bi-play-fill fs-4"></i>
                            </button>

                            {% if soundtrack.is_favorite %}
                                <button class="btn btn-danger rounded-circle shadow favorite-btn" title="Убрать из избранного">
                                    <i class="bi bi-heart-fill fs-5"></i>
                                </button>
                            {% else %}
                                <button class="btn btn-outline-light rounded-circle shadow favorite-btn"
                                        title="Добавить в избранное">
                                    <i class="bi bi-heart fs-5"></i>
                                </button>
                            {% endif %}
                        </div>

                        <audio id="audio-{{ soundtrack.id }}" src="{{ soundtrack.audio_url }}"></audio>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p class="text-muted">В избранном пока нет треков.</p>
    {% endif %}
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<style>
    .card:hover {
        transform: scale(1.03);
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
    }
</style>
{% endblock %}
